streamlit

pandas

numpy

sqlalchemy

pyodbc

python-dotenv

langgraph

langchain

langchain-community

langchain-google-genai

faiss-cpu

google-generativeai

groq

spacy

sqlparse

openpyxl

matplotlib
